CONFIG_ESP32P4_SELECTS_REV_LESS_V3=y
CONFIG_ESP32P4_REV_MIN_0=y
CONFIG_ESP_CONSOLE_UART_NUM=0
CONFIG_ESP_CONSOLE_UART_BAUDRATE=115200

# CONFIG_ESPTOOLPY_FLASHSIZE_4MB is not set
# CONFIG_ESPTOOLPY_FLASHSIZE_8MB is not set
CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="boards/WAVESHARE_P4_8/partitions.csv"
CONFIG_I2C_SKIP_LEGACY_CONFLICT_CHECK=y

# PSRAM Config (Hex PSRAM 32MB)
CONFIG_SPIRAM=y
CONFIG_SPIRAM_MODE_HEX=y
CONFIG_IDF_EXPERIMENTAL_FEATURES=y
CONFIG_SPIRAM_SPEED_200M=y
CONFIG_SPIRAM_BOOT_INIT=y
CONFIG_SPIRAM_FETCH_INSTRUCTIONS=y
CONFIG_SPIRAM_RODATA=y

# FreeRTOS 5.2+ deprecates this, which causes a #warning that fails the build
CONFIG_FREERTOS_ENABLE_STATIC_TASK_CLEAN_UP=n
CONFIG_FREERTOS_TASK_PRE_DELETION_HOOK=y

# WiFi Remote & ESP-Hosted
CONFIG_ESP_WIFI_REMOTE_ENABLED=y
CONFIG_ESP_WIFI_REMOTE_LIBRARY_HOSTED=y

CONFIG_ESP_HOSTED_ENABLED=y
CONFIG_ESP_HOSTED_SDIO_HOST_INTERFACE=y
CONFIG_SLAVE_IDF_TARGET_ESP32C6=y
CONFIG_ESP_HOSTED_IDF_SLAVE_TARGET="esp32c6"
CONFIG_ESP_HOSTED_SDIO_RESET_ACTIVE_HIGH=y
CONFIG_ESP_HOSTED_SDIO_OPTIMIZATION_RX_STREAMING_MODE=y
CONFIG_ESP_HOSTED_SDIO_BUS_WIDTH=1
CONFIG_ESP_HOSTED_SDIO_CLOCK_FREQ_KHZ=20000
CONFIG_ESP_HOSTED_GPIO_SLAVE_RESET_SLAVE=52
CONFIG_ESP_HOSTED_SDIO_GPIO_RESET_SLAVE=32
CONFIG_ESP_HOSTED_SDIO_PIN_CMD=19
CONFIG_ESP_HOSTED_SDIO_PIN_CLK=18
CONFIG_ESP_HOSTED_SDIO_PIN_D0=14
CONFIG_ESP_HOSTED_SDIO_PIN_D1=15
CONFIG_ESP_HOSTED_SDIO_RESET_DELAY_MS=2000
CONFIG_ESP_HOSTED_SLAVE_RESET_ONLY_IF_NECESSARY=y

# LDO for SDIO/WiFi
CONFIG_SDMMC_HOST_D1_D2_D3_D4_GP_LDO_ON=y
CONFIG_SDMMC_HOST_D1_D2_D3_D4_GP_LDO_ID=4

# Stability Fixes (Core 1 / Background Tasks)
CONFIG_LWIP_TCPIP_TASK_STACK_SIZE=8192
CONFIG_BT_NIMBLE_HOST_TASK_STACK_SIZE=8192
CONFIG_ESP_SYSTEM_EVENT_TASK_STACK_SIZE=4096

# Suitability Fixes (LwIP Performance)
CONFIG_LWIP_TCP_WND_DEFAULT=14400
CONFIG_LWIP_TCP_SND_BUF_DEFAULT=14400

# LVGL Config - Use manual lv_conf.h instead of Kconfig
CONFIG_LV_CONF_SKIP=n
CONFIG_LV_CONF_INCLUDE_SIMPLE=y
CONFIG_LV_CONF_PATH="G:/My Drive/ODD/Volu Sol/CellaVision_HMI_3/lv_binding_micropython/lv_conf.h"

# Bluetooth Host & VHCI Bridge (via ESP-Hosted)
CONFIG_BT_ENABLED=y
CONFIG_BT_NIMBLE_ENABLED=y
CONFIG_BT_CONTROLLER_ENABLED=n
CONFIG_BT_NIMBLE_TRANSPORT_UART=n
CONFIG_ESP_HOSTED_ENABLE_BT_NIMBLE=y
CONFIG_BT_NIMBLE_TASK_STACK_SIZE=6144
CONFIG_BT_NIMBLE_PINNED_TO_CORE_1=y
CONFIG_BT_NIMBLE_PINNED_TO_CORE=1

# Disable broken SPI camera driver compilation on ESP-IDF v5.3.3
CONFIG_CAM_CTRL_SPI_ENABLE=n

# Enable Camera Sensors and Auto-Detect settings
CONFIG_CAMERA_OV5647=y
CONFIG_CAMERA_OV5647_AUTO_DETECT_MIPI_INTERFACE_SENSOR=y
CONFIG_CAMERA_SC2336=y
CONFIG_CAMERA_SC2336_AUTO_DETECT_MIPI_INTERFACE_SENSOR=y

